
@import url('./button-effects.css');

:root {
    --female-color: #FFCA3A;
    --male-color: #00b99e;
    --primary-color: red;
    --secondary-color: blue;
  }

  /*var(--main-bg-color);*/

body { 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin:0; 
    padding:0; 
}


#map { position:absolute; top:0; bottom:0; width:100%; padding: 0 !important;}

#panel {
    position:absolute; 
    top:0; 
    bottom:0; 
    width: 20%;
    background-color: rgba(25,83,95,0.8);
    z-index: 1000;
    padding: 0;
    padding-top: 15px;
}
@media (min-width: 1200px) {
    #panel {
        width: 250px;
    }
}

.my-navbar{
    background-color: rgba(25,83,95,0.9);
    color: white; 
    text-align: center;   
    padding: .5rem 0rem;
    z-index: 1000;
}
.my-navbar a{
    color: white;    
}


#panel-chart{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 5px;
    padding: 5px;
    z-index: 999;
}

.padding10{padding: 10px;}
.padding15{padding: 15px;}
.paddingTop10{padding-top: 10px;}
.paddingTop30{padding-top: 30px;}
.paddingSides15{padding-left: 15px; padding-right: 15px;}

#description-txt, #description-txt-short{
    color: #ffffff ;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}
#description-txt-short{
    display: none;
}

#geochicas-txt{
    text-align: center;
    color: #ffff;
    font-size: 18px;    
}
#geochicas-txt > p {
    margin-bottom: 4px;
}

.separator{
    border-color: #0e9686;
    border-style: solid;
    border-width: 0 0 2px;
    height: 10px;
    line-height: 20px;
    text-align:center;
    margin: 10px 10px 10px 10px;
    opacity: 0.5;
}

.ciudades-list{
    padding: 0px;
    margin-top: 20px;
}

.nombre-ciudad{
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.selected{
    font-weight: bold;
    background-color: #243342;
    border-right: 5px solid #00B99E;
}
.menu-selected{
    font-weight: bold;
    background-color: #243342;
    border-right: 5px solid #00B99E;    
    border-left: 5px solid #00B99E;
}

#my-toggle-menu{
    color: white !important;
}

.menu-info{
    
    text-align: white;
    text-decoration: none;
    font-size: 12px;
}
.menu-logo-proyecto{
    padding-top: 10px;
    padding-bottom: 5px;
}
.menu-logo-proyecto img{
    width: 150px;
}
.menu-text{
    font-size: 12px;
    text-align: justify;
    padding-left: 12px;
    padding-right: 12px;
}

.menu-footer p{
    margin: 0px;
}

.my-col-right {
    padding-bottom: 0px;
    padding-top: 15px;
}

.menu-info a:hover {
    font-weight: bold;
}

@media (max-height: 600px) {

    .menu-logo-proyecto img{
        width: 85px;
    }
    .my-menu-item{
        font-size: 14px !important;
    }

}

@media (max-height: 700px) {

    #description-txt-short{
        display: block;
    }

    #description-txt{
        display: none;
    }    

}


@media (max-height: 850px) {

    #description-txt, #description-txt-short{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
    
    #geochicas-txt{
        text-align: center;
        color: #ffff;
        font-size: 15px;    
    }
    #geochicas-txt > p {
        margin-bottom: 4px;
    }
    
    .separator{
        height: 5px;
        line-height: 10px;
        margin: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .ciudades-list{
        padding: 0px;
        margin-top: 10px;
    }
    
    .nombre-ciudad{
        padding-top: 5px;
        padding-bottom: 5px;
    }

}

#my-footer{

    bottom: 0;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 13px;
    line-height: 2em;
}

#my-footer a {
    text-decoration: none;
    color: white;
}
#my-footer a:hover {
    font-weight: bold;
}

/**/

.mapboxgl-popup-content{
    /* background-color: #0e9686f2; */
    color: white;
    font-weight: bold;
    max-width: 150px;
    border: 2px solid white;
}
.mapboxgl-popup-close-button{color: white}
.popup-female{
    margin-top: 5px;
    text-align: center; 
    font-size: 14px;
}

.popup-female img{
    width: 30px;
    text-transform: uppercase;
}

.popup-male{
    font-size: 13px;
    margin-top: 5px;
    text-align: center;    
}

.img-button{
    box-shadow: 0 8px 6px -6px black;
}

