
:root {
    --female-color: #FFCA3A;
    --male-color: #00b99e;
    --primary-color: red;
    --secondary-color: blue;
  }

  /*var(--main-bg-color);*/

body { 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin:0; 
    padding:0; 
}

#map { position:absolute; top:0; bottom:0; width:100%; }

#panel {
    position:absolute; 
    top:0; 
    bottom:0; 
    width:250px;
    background-color: rgba(25,83,95,0.8);
    z-index: 1000;
    padding-top: 15px;
}

#panel-chart{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 5px;
    padding: 5px;
    z-index: 1000;
}

.padding10{padding: 10px;}

#description-txt{
    color: #ffffff ;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}

#geochicas-txt{
    text-align: center;
    color: #ffff;
    font-size: 18px;    
}
#geochicas-txt > p {
    margin-bottom: 4px;
}

.separator{
    border-color: #0e9686;
    border-style: solid;
    border-width: 0 0 2px;
    height: 10px;
    line-height: 20px;
    text-align:center;
    margin: 15px 10px 0px 10px;
    opacity: 0.5;
}

.ciudades-list{
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

.nombre-ciudad{
    padding: 5px;
    cursor: pointer;
}

.selected{
    font-weight: bold;
    background-color: #243342;
    border-right: 5px solid #00B99E;
}

/**/
.popup-female{
    text-align: center; 
    font-size: 14px;
}

.popup-female img{
    width: 30px;
    text-transform: uppercase;
}

.popup-male{
    text-align: center;    
}

.img-button{
    box-shadow: 0 8px 6px -6px black;
}

.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

/*==================================================
 * Effect 5
 * ===============================================*/
 .effect5
 {
   position: relative;
 }
 .effect5:before, .effect5:after
 {
   z-index: -1;
   position: absolute;
   content: "";
   bottom: 25px;
   left: 10px;
   width: 50%;
   top: 80%;
   max-width:300px;
   background: #777;
   -webkit-box-shadow: 0 35px 20px #777;
   -moz-box-shadow: 0 35px 20px #777;
   box-shadow: 0 35px 20px #777;
   -webkit-transform: rotate(-8deg);
   -moz-transform: rotate(-8deg);
   -o-transform: rotate(-8deg);
   -ms-transform: rotate(-8deg);
   transform: rotate(-8deg);
 }
 .effect5:after
 {
   -webkit-transform: rotate(8deg);
   -moz-transform: rotate(8deg);
   -o-transform: rotate(8deg);
   -ms-transform: rotate(8deg);
   transform: rotate(8deg);
   right: 10px;
   left: auto;
 }

/*==================================================
 * Effect 6
 * ===============================================*/
 .effect6
 {
     position:relative;
     -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
             box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
 }
 .effect6:before, .effect6:after
 {
     content:"";
     position:absolute;
     z-index:-1;
     -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
     -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
     box-shadow:0 0 20px rgba(0,0,0,0.8);
     top:50%;
     bottom:0;
     left:10px;
     right:10px;
     -moz-border-radius:100px / 10px;
     border-radius:100px / 10px;
 }
 .effect6:after
 {
     right:10px;
     left:auto;
     -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
         -ms-transform:skew(8deg) rotate(3deg);
          -o-transform:skew(8deg) rotate(3deg);
             transform:skew(8deg) rotate(3deg);
 } 


.button2 {
    width: 45px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button2:hover {
    background-color: var(--female-color);
    box-shadow: 0px 10px 15px var(--female-color);
    color: #fff;
    transform: translateY(-5px);
  }

  .button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    font-size: 52px;
    transition: all 0.4s ease-in;
    span[class^='ion'] {
      position: relative;
    }
    //start click effect
    &:before {
      content: '';
      background-color: aliceblue;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: scale(0.001, 0.001);
    }
    &:focus {
      outline: 0;
      color: #fff;
      &:before {
        animation: effect_dylan 0.8s ease-out;
      }
    }
  }
  @keyframes effect_dylan {
    50% {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
    99% {
      transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      transform: scale(0.001, 0.001);
      opacity: 1;
    }
  }

