{
	"extends": [
	  "airbnb-base"
  ],
  "env": {
    "browser": true,
  },
  "globals": {
    "mapboxgl": true,
  },
	"parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "linebreak-style": "off",
    "max-len": ["error", { "code": 150 }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  }
}