


:root {
    --female-color: #FFCA3A;
    --male-color: #00b99e;
    --primary-color: red;
    --secondary-color: blue;

    --popup-female-text: #686868;
  }

  /*var(--main-bg-color);*/

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}


#map { position:absolute; top:0; bottom:0; width:100%; padding: 0 !important;}

#panel {
    position:absolute;
    top:0;
    bottom:0;
    width: 20%;
    background-color: rgba(25,83,95,0.8);
    z-index: 1000;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
@media (min-width: 1200px) {
    #panel {
        width: 250px;
    }
}

#panel-row-logo{
    /* height: 12%; */
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#panel-row-description{
    /* height: 22%; */
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}
#panel-row-geochicas{
    /* height: 8%; */
    margin-bottom: 15px;
    margin-top: 15px;
}
#separator-1{
    border-color: #0e9686;
    border-style: solid;
    border-width: 0 0 2px;
    height: 0%;
    line-height: 20px;
    text-align:center;
    margin: 0px 10px 10px 10px;
    opacity: 0.5;
}
#panel-row-list{
    height: 35%;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: 5px;
    margin: 0px;

}

#panel-row-list .col-sm{
    padding-right: 0px;
    padding-left: 0px;
}

#panel-row-footer{
    height: 10%;
}

.my-navbar{
    background-color: rgba(25,83,95,0.4);
    color: white;
    text-align: center;
    padding: .5rem 0rem;
    z-index: 1000;
}
.my-navbar a{
    color: white;
}


#panel-chart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 5px;
    padding: 5px;
    z-index: 999;
}

#open-chart-btn{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    z-index: 1001;
    font-size: 30px;
    opacity: 0.9;
}

#close-chart-btn{
    cursor: pointer;
    line-height: 0.5em;
    text-align: right;
    padding-right: 3px;
}

.margin20{
    margin-top: 10px;
    margin-bottom: 10px;
}

.padding10{padding: 10px;}
.padding15{padding: 15px;}
.paddingTop10{padding-top: 10px;}
.paddingTop30{padding-top: 30px;}
.paddingSides15{padding-left: 15px; padding-right: 15px;}

#description-txt, #description-txt-short{
    color: #ffffff ;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.85em;
}
#description-txt-short{
    display: none;
}

#geochicas-txt{
    text-align: center;
    color: #ffff;
    font-size: 18px;
}
#geochicas-txt > p {
    margin-bottom: 4px;
}

.separator{
    border-color: #0e9686;
    border-style: solid;
    border-width: 0 0 2px;
    text-align:center;
    opacity: 0.5;
    margin-left: 10px;
    margin-right: 10px;
}

.ciudades-list{
    padding: 0px;
    margin-top: 20px;
}

.nombre-pais{
  text-align: left;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  cursor: pointer;
  /*border-top: 0.25px solid #0e968675;*/
  border-bottom: 0.25px solid #0e968675;
  display: block;
}

.nombre-ciudad{
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    cursor: pointer;
    /*border-top: 0.25px solid #0e968675;
    border-bottom: 0.25px solid #0e968675;*/
    display: block;
    background-color: rgba(36, 51, 66, 0.4);
}

.nombre-ciudad:hover {
    color: yellow;
    background-color: rgba(36, 51, 66, 0.4);
}

/*.nombre-ciudad{
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    display: block;
}*/

.selected{
    font-weight: bold;
    background-color: rgba(36, 51, 66, 0.4);
    color: yellow;
    border-right: 5px solid #00B99E;

}


.menu-selected{
    font-weight: bold;
    background-color: rgba(36, 51, 66, 0.4);
    border-right: 5px solid #00B99E;
    border-left: 5px solid #00B99E;
}

#my-toggle-menu{
    color: white !important;
}

.menu-info{

    text-align: white;
    text-decoration: none;
    font-size: 12px;
}
.menu-logo-proyecto{
    padding-top: 10px;
    padding-bottom: 5px;
}
.menu-logo-proyecto img{
    width: 150px;
}
.menu-text{
    font-size: 12px;
    text-align: justify;
    padding-left: 12px;
    padding-right: 12px;
}

.menu-footer p{
    margin: 0px;
}

.my-col-right {
    padding-bottom: 0px;
    padding-top: 15px;
}

.menu-info a:hover {
    font-weight: bold;
      /*color: yellow;*/
}
/*
 a:hover{
  color: #FFFF00;
}*/

#menu-list{
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.my-menu-item{
    border-top: 0.25px solid #0e968675;
    border-bottom: 0.25px solid #0e968675;
}


@media (max-height: 600px) {

    .menu-logo-proyecto img{
        width: 85px;
    }
    .my-menu-item{
        font-size: 14px !important;
    }
    #panel-row-list {
        height: 25%;
    }

}

@media (max-height: 770px) {

    #description-txt-short{
        display: block;
    }

    #description-txt{
        display: none;
    }

    #panel-row-geochicas{
        /* height: 8%; */
        margin-bottom: 5px;
        margin-top: 2px;
    }
    #panel-row-list {
        height: 30%;
    }

}


@media (max-height: 850px) {

    #description-txt, #description-txt-short{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }

    #geochicas-txt{
        text-align: center;
        color: #ffff;
        font-size: 15px;
    }
    #geochicas-txt > p {
        margin-bottom: 4px;
    }

    .separator{
        margin-left: 10px;
        margin-right: 10px;
    }

    /* .ciudades-list{
        padding: 0px;
        margin-top: 10px;
    }*/

    .nombre-ciudad{
        padding-top: 12px;
        padding-bottom: 12px;
    }

}

#my-footer{

    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 0.75em;
    line-height: 2em;
    margin-top: 10px;
}

#my-footer a {
    text-decoration: none;
    color: white;
}
#my-footer a:hover {
    font-weight: bold;
}

.my-icon-list, .my-menu-icon-list{
    color: #0e9686;
    text-align: center;
}
.my-menu-icon-list{
    font-size: 0.7em;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #0e968675;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00b99e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(36, 51, 66, 0.4);
}

/**/

.mapboxgl-popup-content{
    /* background-color: #0e9686f2; */
    color: white;
    font-weight: bold;
    max-width: 150px;
    border: 2px solid white;
}
.mapboxgl-popup-close-button{color: white}
.popup-female{
    min-width: 80px;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    color: var(--popup-female-text);
}

.popup-female img{
    width: 30px;
    text-transform: uppercase;
}

.popup-male{
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
}

.img-button{
    box-shadow: 0 8px 6px -6px black;
}
